/* composants formulaire */

.h1-formulaire{
    padding: var(--space-xl);
    text-align: center;
    margin-top: var(--space-md);
}


form{
    padding: var(--space-xl)
}

form input{
    border-radius: 5px;
    height: 18px;
}

form select{
    border-radius: 5px;
}

form :required {
    border: 3px solid cornflowerblue;
}

form :invalid + p {
    display: none;
}

/* form :valid {
    border: 4px solid rgb(32, 211, 32);
}

form :valid + p {
    display: initial;
} */

form [name] + p.error-message {
    display: none;
}

form .invalid + p.error-message {
    display: initial;
    color: var(--color-error);
}

form .invalid {
    border: 3px solid red;
}

input:focus {
    background-color: rgb(238, 248, 255);
}

select:focus {
    background-color: rgb(238, 254, 255);
}

input:checked{
    outline: 2px dotted rgb(79, 30, 136);
}

input:checked + label {
    color: rgb(94, 28, 170);
}